<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>
<body>
    <div class="card-container">
    @foreach (Usuarios user in ViewBag.Usuarios)
    {
        if(@user.Trabajador){
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Arreglar el problema de @user.Nombre</p>
                    <p class="card-text">ID: @user.ID_Usuario</p>
            </div>
            <form action='@Url.Action("UsuarioProblema", "Home")' method="get">
                <input type="hidden" name="UsuarioId" value="@user.ID_Usuario" />
                @if(@ViewBag.Login != null){
                    <button type="submit" class="btn btn-primary" data-usuario-id="@user.ID_Usuario">Solucionar</button>
                }
                else{
                    <button type="submit" class="btn btn-primary" data-usuario-id="@user.ID_Usuario" disabled>Solucionar</button>
                }
            </form>

            </div>      
        }
    }
</div>


    <style>
    * {
        box-sizing: border-box;
    }
    .card {
        border: 1px solid black;
        margin: 10px;
        width: 18rem;
        max-height: 300px;
        float: left;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px;
    }
</style>

</body>
</html>