<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Arreglo</title>
</head>
<body> 
  <a class = "atras" href='@Url.Action("Servicios")'>Atrás</a>
    <div class = "container-contratar"> 
   
    <h1 class="text-center" class = "title">Contratar a  @ViewBag.UserBuscado.Nombre</h1>
    <div class="card text-center">
  
  <div class="card-body">
    <form action='@Url.Action("MarcarArreglado", "Home")' method="get">
        <input type="hidden" name="TrabajadorId" value="@ViewBag.UserBuscado.ID_Usuario" /> 
        <input type="hidden" name="TrabajadorId" value="@ViewBag.UserBuscado.ID_Usuario" /> 
        <img src="~/img/FotoTrabajador.png">
        <button type="button" class="btn btn-primary" onclick="ConfirmarTrabajador(@ViewBag.UserBuscado.ID_Usuario)" data-usuario-id="@ViewBag.UserBuscado.ID_Usuario">Contratar</button>
    </form>
    </div> 
    </div> 
</body>
</html>
