<h1 style="text-align: center">Perfil</h1>

<label class="labelPerfil">Nombre:</label>
<input type="text" class="inputPerfil" id="name" disabled value="@ViewBag.Nombre">

<label class="labelPerfil">Apellido:</label>
<input type="text" class="inputPerfil" id="lastname" disabled value="@ViewBag.Apellido">

<label class="labelPerfil">Email:</label>
<input type="text" class="inputPerfil" id="email" disabled value="@ViewBag.Email">

<label class="labelPerfil">DNI:</label>
<input type="text" class="inputPerfil" id="dni" disabled value="@ViewBag.DNI">

<label class="labelPerfil">Fecha de nacimiento:</label>
<input type="date" class="inputPerfil" id="birthdate" disabled>

<input type="hidden" id="ID_Usuario" value="97">

<button type="button" class="btn btn-primary btn-lg botonPerfil" id="editSaveBtn" onclick="toggleEdit()">Cargar información</button>

<p class="login-link">
    <a href='@Url.Action("LogOut")'>¿Deseas salir?</a>
</p>
