<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Arreglo</title>
</head>
<body> 
    <div class="card text-center">
  <div class="card-header">
    Problema a Solucionar 
  </div>
  <div class="card-body"> <h1 class="text-center"></h1>
    <h5 class="card-title">Problema de @ViewBag.UserBuscado.Nombre</h5>
     <form action='@Url.Action("MarcarArreglado", "Home")' method="get">
        <input type="hidden" name="UsuarioId" value="@ViewBag.UserBuscado.ID_Usuario" />
        <button type="button" onclick="ConfirmarArreglo(@ViewBag.UserBuscado.ID_Usuario)" data-usuario-id="@ViewBag.UserBuscado.ID_Usuario">Arreglar</button>
    </form> 
  </div>
</div>
</body>
</html>
