<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Arreglo</title>
</head>
<body> 
    <a href='@Url.Action("BrindarServicios")'>Atras</a>
<div class = "container-contratar"> 
  
  
  <div class="card-body">
    <h5 class="card-title">Problema de  @ViewBag.UserBuscado.Nombre</h5>
     <form action='@Url.Action("MarcarArreglado", "Home")' method="get">
        <input type="hidden" name="UsuarioId" value="@ViewBag.UserBuscado.ID_Usuario" /> 
        <img src = "~/img/cañeria_rota.jpg">
        <button type="button" class="btn btn-primary" onclick="ConfirmarArreglo(@ViewBag.UserBuscado.ID_Usuario)" data-usuario-id="@ViewBag.UserBuscado.ID_Usuario">Arreglar</button>
    </form> 
  </div>
</div>

</body>
</html>
