<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Arreglo</title>
</head>
<body> 
    <a href='@Url.Action("BrindarServicios")'>Atras</a>
    <div class="card-container">
  </div> 
  <div class="card text-center">
  
  <div class="card-body">
    <h5 class="card-title">Trabajador @ViewBag.UserBuscado.Nombre</h5>
     <form action='@Url.Action("MarcarArreglado", "Home")' method="get">
        <input type="hidden" name="UsuarioId" value="@ViewBag.UserBuscado.ID_Usuario" />
        <button type="button" onclick="ConfirmarArreglo(@ViewBag.UserBuscado.ID_Usuario)" data-usuario-id="@ViewBag.UserBuscado.ID_Usuario">Arreglar</button>
    </form> 
  </div>
</div>
</div>
</body>
</html>
